body{
    
    font-family: 'Manrope', sans-serif;
    background-image: url(./img/32902937_062134858628.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}